<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="page-title">
      Venue
    </h2>
  </div>
  <div class="row-layout group_2">
    <img src="/assets/image 14points.png" alt="4 Points Hotel" class="image"/>
    <div class="group_3">
      <div class="descriptor">Four Points by Sheraton - Bentonville</div>
      <p>
        <a href="https://www.marriott.com/en-us/hotels/rogfp-four-points-bentonville/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0">
          211 SE Walton Boulevard, Bentonville, AR, United States
        </a>
      </p>
      <p class="text">
        Experience the ultimate board gaming event in a venue designed for enthusiasts like you at the elegant and spacious Four points by Sheraton.
      </p>
      <div class="text_1">
        <div class="descriptor">Features</div>
        <ul class="feature-list">
          <li>Enjoy modern facilities and amenities that Four Points by Sheraton offers</li>
          <li>Easily Accessible from major routes, right off Highway 49</li>
          <li>Ample parking spaces for attendees</li>
          <li>Located in a great spot near many restaurants, parks, and Greenway trail</li>
        </ul>
      </div>
    </div>
  </div>
</div>
