<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      AdventureCon
    </h6>
    <button igxButton="flat" igxRipple routerLink="/home-page" class="button">
      Home
    </button>
    <button igxButton="flat" igxRipple routerLink="/attend-page" class="button">
      Attend
    </button>
    <button igxButton="flat" igxRipple class="button">
      Venue
    </button>
    <button igxButton="flat" igxRipple class="button">
      Sponsors
    </button>
  </igx-navbar-title>
</igx-navbar>
<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="h2">
      Venue
    </h2>
  </div>
  <div class="row-layout group_2">
    <img src="/assets/image 14points.png" class="image" />
    <div class="row-layout group_3">
      <p class="text">
        Four Points by Sheraton - Bentonville
211 SE Walton Boulevard, Bentonville, AR, United States
Experience the ultimate board gaming event in a venue designed for enthusiasts like you at the elegant and spacious Four points by Sheraton.
      </p>
      <p class="text_1">
        Features
Enjoy modern facilities and amenities that Four Points by Sheraton offers
Easily Accessible from major routes, right off Highway 49
Ample parking spaces for attendees.
Located in a great spot near many restaurants, parks, and  Greenway trail
      </p>
    </div>
  </div>
</div>
