<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="page-title">
      Badge Selections
    </h2>
  </div>
  <div class="row-layout group_2">

    <igx-card type="outlined" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle class="good">
          Single Day Admission
        </h3>
        <div igxCardHeaderSubtitle>
          <div>
            <div class="cost">
              <span class="price good">$20.00 / 1 day</span>
            </div>
            <hr/>
            <ul class="benefits">
              <li>Entry to Ballroom and Breakouts</li>
              <li>Game Library Access</li>
              <li>Play 2 Win Tables</li>
              <li>Exhibitor Hall Access</li>
              <li>Event Registration</li>
            </ul>
          </div>
        </div>
      </igx-card-header>
    </igx-card>

    <igx-card type="outlined" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle class="better">
          General Admission
        </h3>
        <div igxCardHeaderSubtitle>
          <div>
            <div class="cost">
              <span class="price better">$50.00 / 3 day</span>
            </div>
            <hr/>
            <ul class="benefits">
              <li>Entry to Ballroom and Breakouts</li>
              <li>Game Library Access</li>
              <li>Play 2 Win Tables</li>
              <li>Exhibitor Hall Access</li>
              <li>Event Registration</li>
            </ul>
          </div>
        </div>
      </igx-card-header>
    </igx-card>

    <igx-card type="outlined" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle class="best">
          <igx-icon>star</igx-icon>
          VIP
          <igx-icon>star</igx-icon>
        </h3>
        <div igxCardHeaderSubtitle>
          <div>
            <div class="cost">
              <span class="price best">$75.00 / 3 day</span>
            </div>
            <hr/>
            <ul class="benefits">
              <li>Entry to Ballroom and Breakouts</li>
              <li>Game Library Access</li>
              <li>Play 2 Win Tables</li>
              <li>Exhibitor Hall Access</li>
              <li>Event Registration</li>
            </ul>
          </div>
        </div>
      </igx-card-header>
    </igx-card>
  </div>
</div>
