<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="page-title large-title">
      About Meeple Academy of the Ozarks
    </h2>
    <h2 class="page-title small-title">
      About Meeple Academy
    </h2>
  </div>

  <div class="row-layout group_4">
    <img [src]="'https://gifdb.com/images/high/pronounce-you-a-community-jeff-g64nveafjgqrb8d5.webp'"
         width="600px"
         height="500px"
         alt="community"/>
    <p class="mission-lead">
      We are Meeple Academy of the Ozarks, and we’re a 501c3 that believes in the power of board games to forge communities!
      It may sound cheesy, but we mean it!

      The magic of board games is that they don’t play themselves.
      Everyone at the table has to agree to a simple, low-stakes social contract: to play by the rules.
      And by pushing cardboard around, pretending that the rules matter, and laughing along the way, players become a community!
    </p>
  </div>

  <div class="row-layout group_1">
    <h2 class="page-title">
      Our Mission
    </h2>
  </div>

  <div class="row-layout group_4">
    <p class="mission-statement">
      Meeple Academy of the Ozarks is committed to equipping Northwest Arkansas with board games as a tool to bring people together, teach problem-solving skills, and promote social engagement amongst adults and kids middle-school and up alike.
      We have run or assisted several public board game events at local schools, community centers, and businesses.
      We will continue to engage in public outreach, and hope to see a long future of making friends out of strangers within the Northwest Arkansas Community.
    </p>
  </div>

  <div class="row-layout group_1">
    <h2 class="page-title">
      Board Members
    </h2>
  </div>

  <div class="row-layout group_4">
    <p>
      We are Meeple Academy of the Ozarks, and we’re a 501c3 that believes in the power of board games to forge communities!
      It may sound cheesy, but we mean it!

      The magic of board games is that they don’t play themselves.
      Everyone at the table has to agree to a simple, low-stakes social contract: to play by the rules.
      And by pushing cardboard around, pretending that the rules matter, and laughing along the way, players become a community!
    </p>
  </div>

  <div class="row-layout group_2">
    <img src="/assets/image 2board-image.png" class="image" />
  </div>

  <div class="grid-layout">
    <ng-container *ngFor="let member of members">
      <profile-card [member]="member" class="profile-card"/>
    </ng-container>
  </div>
</div>
