<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      AdventureCon
    </h6>
    <button igxButton="flat" igxRipple routerLink="/home-page" class="button">
      Home
    </button>
    <button igxButton="flat" igxRipple routerLink="/attend-page" class="button">
      Attend
    </button>
    <button igxButton="flat" igxRipple class="button">
      Venue
    </button>
    <button igxButton="flat" igxRipple class="button">
      Sponsors
    </button>
  </igx-navbar-title>
</igx-navbar>
<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="h2">
      Board Members
    </h2>
  </div>
  <div class="row-layout group_2">
    <img src="/assets/image 2board-image.png" class="image" />
  </div>
  <div class="row-layout group_3">
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Jared
        </h3>
        <h5 igxCardHeaderSubtitle>
          President
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Jesse
        </h3>
        <h5 igxCardHeaderSubtitle>
          Vice-President
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Q
        </h3>
        <h5 igxCardHeaderSubtitle>
          Event Director
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Liz
        </h3>
        <h5 igxCardHeaderSubtitle>
          Marketing Director
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Clancy
        </h3>
        <h5 igxCardHeaderSubtitle>
          Library Curator
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Heather
        </h3>
        <h5 igxCardHeaderSubtitle>
          Treasurer
        </h5>
      </igx-card-header>
    </igx-card>
  </div>
</div>
