.page-container {
  display: flex;
  flex-direction: column;
  background-color: oklch(60.54% 0.119 249.49);
  height: 100%;

  .splash-text {
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    text-align: center;
    color: #fff;

    @media(min-width: 768px) {
      flex: 1;
      padding: 0 16rem;
      font-size: 1.75rem;
      line-height: 1.2;
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
  flex: 1;

  .logo-image {
    width: 250px;
    height: 250px;

    @media(min-width: 768px) {
      width: 500px;
      height: 500px;
    }
  }
}

.proceed-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
  flex: 1;

  button {
    --igx-button-foreground: hsla(var(--ig-gray-100));
    --igx-button-background: hsla(var(--ig-secondary-500));
    align-self: center;
    padding: 1rem;
    min-width: 10rem;
  }

  @media(min-width: 768px) {
    flex: 1;
    display: block;
    text-align: center;
  }
}
