:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: hsla(var(--ig-surface-500));
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex: 1;
  width: 796px;
  min-width: 50px;
  min-height: 50px;
  padding: 0 11rem;
}
.row-layout {
  display: flex;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.group_1 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
}
.text {
  text-align: center;
  color: hsla(var(--ig-gray-900));
  height: max-content;
  min-width: min-content;
  margin-bottom: 24px;
}
.h1 {
  text-align: center;
  height: max-content;
  min-width: min-content;
  font-family: 'MedievalSharp', serif;
}
.text_1 {
  text-align: center;
  color: hsla(var(--ig-gray-900));
  height: max-content;
  min-width: min-content;
  margin: 24px 0;
}
.image {
  object-fit: cover;
  width: 640px;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.button {
  --igx-button-foreground: hsla(var(--ig-gray-100));
  --igx-button-background: hsla(var(--ig-primary-500));
  height: max-content;
  align-self: center;
  padding: 2rem;
}
