<div class="page-container">
  <div class="image-container">
    <img src="assets/adventure_logo.png" alt="adventurecon-logo" class="logo-image">
  </div>
  <p class="splash-text">
    Welcome to AdventureCon, the premier board gaming convention in scenic Bentonville, Arkansas! Immerse yourself in a world of strategy, imagination, and camaraderie, where gaming enthusiasts and curious newcomers converge to celebrate the rich and diverse world of board games
  </p>
  <div class="proceed-container">
    <button igxButton="raised" igxRipple class="button" routerLink="/home">
      <span>Enter</span>
    </button>
  </div>
</div>
