:host {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  @media(min-width: 768px) {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex-direction: row;
  }
}

.column-layout {
  display: flex;
  flex-direction: column;
}

.group {
  background-color: hsla(var(--ig-surface-500));
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex: 1;

  @media(min-width: 768px) {
    width: 796px;
    padding: 0 11rem;
    min-width: 50px;
    min-height: 50px;
  }
}
.row-layout {
  display: flex;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.group_1 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
}

.text {
  text-align: center;
  color: hsla(var(--ig-gray-900));
  height: max-content;
  min-width: min-content;
  margin-bottom: 8px;

  @media(min-width: 768px) {
    margin-bottom: 24px;
  }
}

.h1 {
  text-align: center;
  height: max-content;
  min-width: min-content;
  font-family: 'MedievalSharp', serif;
}
.text_1 {
  text-align: center;
  color: hsla(var(--ig-gray-900));
  height: max-content;
  min-width: min-content;
  margin: 24px 0;
}

.img-container {
  height: 20rem;

  @media(min-width: 768px) {
    width: 640px;
    height: 100%;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    flex-shrink: 0;
  }
}

.button {
  --igx-button-foreground: hsla(var(--ig-gray-100));
  --igx-button-background: hsla(var(--ig-primary-500));
  height: max-content;
  align-self: center;
  padding: 2rem;
}
