<div class="column-layout group">
  <p class="text">
    Welcome To
  </p>

  <hr/>
  <div class="row-layout group_1">
    <h1 class="h1">
      AdventureCon
    </h1>
  </div>
  <hr/>

  <p class="text_1">
    Welcome to AdventureCon, the premier board gaming convention in scenic Bentonville, Arkansas! Immerse yourself in a world of strategy, imagination, and camaraderie, where gaming enthusiasts and curious newcomers converge to celebrate the rich and diverse world of board games
  </p>
  <button igxButton="raised" igxRipple class="button" routerLink="/home">
    <span>Enter AdventureCon</span>
    <igx-icon>
      arrow_right_alt
    </igx-icon>
  </button>
</div>
<img src="/assets/Image 3splash.png" class="image" />
