<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      AdventureCon
    </h6>
    <button igxButton="flat" igxRipple routerLink="/home-page" class="button">
      Home
    </button>
    <button igxButton="flat" igxRipple routerLink="/attend-page" class="button">
      Attend
    </button>
    <button igxButton="flat" igxRipple class="button">
      Venue
    </button>
    <button igxButton="flat" igxRipple class="button">
      Sponsors
    </button>
  </igx-navbar-title>
</igx-navbar>
<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="h2">
      Badge Selections
    </h2>
  </div>
  <div class="row-layout group_2">
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Single Day Admission
        </h3>
        <h5 igxCardHeaderSubtitle>
          Subtitle goes here...
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          General Admission
        </h3>
        <h5 igxCardHeaderSubtitle>
          Subtitle goes here...
        </h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          VIP
        </h3>
        <h5 igxCardHeaderSubtitle>
          Subtitle goes here...
        </h5>
      </igx-card-header>
    </igx-card>
  </div>
</div>
