<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      AdventureCon
    </h6>
    <button igxButton="flat" igxRipple routerLink="/home-page" class="button">
      Home
    </button>
    <button igxButton="flat" igxRipple routerLink="/attend-page" class="button">
      Attend
    </button>
    <button igxButton="flat" igxRipple class="button">
      Venue
    </button>
    <button igxButton="flat" igxRipple class="button">
      Sponsors
    </button>
  </igx-navbar-title>
</igx-navbar>
<div class="column-layout group">
  <div class="row-layout group_1">
    <h2 class="h2">
      Join Us on May 24-26, 2024
    </h2>
  </div>
  <div class="row-layout group_2">
    <p class="text">
      Step into a realm where playfulness and imagination intertwine! AdventureCon is transforming the game—be part of a legendary convergence of board, social deduction, and card games, along with tabletop RPGs. Mark your calendars for May 24-26, and join fellow game enthusiasts, vendors, and publishers in Bentonville, Arkansas, for an unforgettable adventure in the diverse universe of games!
    </p>
    <img src="/assets/Image 4home.png" class="image" />
  </div>
</div>
